[Unit]
Description=openresty
After=network.target
  
[Service]
Type=forking
ExecStart=/usr/local/openresty/bin/openresty -p /root/WWW/ORserver
ExecReload=/usr/local/openresty/bin/openresty -p /root/WWW/ORserver -s reload
ExecStop=/usr/local/openresty/bin/openresty -p /root/WWW/ORserver -s stop
PrivateTmp=true
  
[Install]
WantedBy=multi-user.target
